<ion-header>
  <ion-navbar>
    <ion-title>
      Game
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-grid class="board">
	<ion-row>
		<ion-col class="cell">
			1 
		</ion-col>
		<ion-col class="cell">
			2 
		</ion-col>
		<ion-col class="cell">
			3
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col class="cell">
			4 
		</ion-col>
		<ion-col class="cell">
			5 
		</ion-col>
		<ion-col class="cell">
			6
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col class="cell">
			7 
		</ion-col>
		<ion-col class="cell">
			8 
		</ion-col>
		<ion-col class="cell">
			9
		</ion-col>
	</ion-row>

	<!--
		<ion-row *ngFor="let row of [0,1,2]">
			<ion-col col-4 class="cell"
				*ngFor="let col of [0,1,2]">
			</ion-col>
		</ion-row>
	-->
	</ion-grid>
</ion-content>